<!-- <router-outlet></router-outlet> -->
 <!-- @if(!loginState){ -->
<mainlayout *ngIf="!loginState()"></mainlayout>
  <!-- } @else { -->
<login (loginSuccess)="setLogin()"></login>
<!-- }  -->

<!-- <div *ngIf="loading">
  <loading></loading>
</div>
<div *ngIf="!loading">
  <ng-container *ngIf="!login; else mainLayout">
    <login (loginSuccess)="setLogin()"></login>
  </ng-container>
  <ng-template #mainLayout>
    <mainlayout></mainlayout>
  </ng-template>
</div> -->

<!-- <div *ngIf="login; else loginTemplate">
    <router-outlet></router-outlet>
     <test></test>
  </div>
  <ng-template #loginTemplate>
    <login [executeFunction]="setLogin"></login>
  </ng-template>
   -->
