<!-- <mat-grid-list cols="6" rowHeight="1:1" >
  @for (item of products; track item.productId) {
    <mat-grid-tile >
      <cardcontent [productName]="item.productName" [productImage]="item.productImage"></cardcontent>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card
        appearance="outlined"
        class="w-full h-full flex flex-col justify-center items-center"
      >
        <mat-card-content>
          <img  [src]="item.productImage" class="w-16 h-16 lg:w-32 lg:h-32 object-contain object-center" />
          <p class="line-clamp-2">{{item.productName}}</p>
          <button mat-raised-button (click)="getProduct(item.productId,item)">รายละเอียด</button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
   } @empty {
  <li>There are no items.</li>
  }
</mat-grid-list> -->
<div class="grid grid-cols-4 gap-2">
  @for (item of products; track item.productId) {
  <cardcontent [productName]="item.productName" [productImage]="item.productImage" (click)="getProduct(item.productId,item)"></cardcontent>
  }
</div>